body {
	font-family: 'Rubik', sans-serif;
	background-color: rgba(41, 102, 176, 0.7);
	margin: auto 0; 
	color: rgb(4, 7, 46);
	font-style: italic;
	font-size: 1.2em;
}

#title {
	text-decoration: underline;
	padding-top: 70px;
}

#townHall {
	float: right;
	margin-left: 30px;
}

/* NAV */
.list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	background-color: rgba(0, 50, 155);
	border: 1px solid blue;
	margin: 0;
	color: white;
}
	
.navBar {
	padding: 20px 40px;
	margin: auto 0;
	line-height: 40px; 
}

.linkCol:visited {
	color: white;
}
.linkCol:link {
	color: white;
}

@media only screen and (max-width: 900px) {
    .navBar {
        font-size: 0.8em;
        padding: 0;
    }
}

.sticky {
	position: fixed;
    top: 0;
    width: 100%;
}



.mainText {
	padding-left: 25px;
	clear: both;
}

#why, #explanation {
	line-height: 28px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	clear: both;
	margin: 50px 50px; /* when just 2, top and bottom */
}

.flex img {
	width: 500px;
	height: 300px;
	margin: 20px;
	transition: all 1s;
}

.flex img:hover {
	transform: scale(1.1);
}